@(panels: java.util.Map[String, model.CounterPanel], rowSize: Integer, colSize: Integer)

@main("Welcome to Play Framework") {

    <script src="@routes.Assets.at("javascripts/index.js")"></script>

    <div class="row">
        <div class="col-lg-3">
            <h4>Your all conquers: <span id="countAllClick">0</span></h4>
        </div>
        <div class="col-lg-9">
            <h4>Your all even conquers: <span id="countAllEven">0</span></h4>
        </div>
    </div>



    @for(row <- 1 to rowSize){
        <div class="row">
            @for(col <- 1 to colSize) {
                <div class="col-lg-4" style="text-align : center">
                    <div class="well" style="padding : 10%">
                        <h4>Conquers: <span id="clickcount@row@col">@panels.get(row.toString.concat(col.toString)).clickCount</span></h4>
                        <button type="button" class="btn btn-primary btn-lg" id="button@row@col">Conquer</button>
                    </div>
                </div>
            }
        </div>
    }
}
